body {
  margin: 0;
  padding: 0;
	font-family: sans-serif;
	background-color: #808080b3;
}

.search-input {
  width: 75%;
  margin: 1.5em;
  font-size: 1.25em;
  text-align: center;

}

input[type=text] {
	border: 0.25px solid grey;
	line-height: 2em;
	line-height: 1.5em;
	padding-left: 0.5em;
	border-radius:  5px;
	border: none;
	background-color: white;
}

.city-list-dropdown {
	position: absolute;
	left: 25%;
}

.city-list, .current-weather {
	list-style-type: none;
	text-align: left;
}


.current-weather-container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 1em;
	grid-auto-rows: minmax(3em, auto);
}

.weather-data {
	border: 1px solid orange;
	background: white;
}

.hide {
	display: none
}

.show {
	display: block
}

